html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

.big-heading {
  font-weight: 900;
  font-size: 3.3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 4% 15%;
}

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.colored-section {
  background-color: #ff4c68;
}

.white-section {
  background-color: #f5f6fa;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Buttons */
.btn-floating {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  width: 47px;
  height: 47px;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  background-color: white;
}

.btn-floating i {
  font-size: 1.25rem;
  line-height: 47px;
  display: inline-block;
  width: inherit;
  text-align: center;
  color: #ff4c68;
}

.btn-primary {
  background-color: #ff4c68;
  border: none;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-multi-item .carousel-indicators {
  margin-bottom: -2em;
}

.carousel-multi-item .carousel-indicators li {
  height: 1.25rem;
  width: 1.25rem;
  max-width: 1.25rem;
  background-color: white;
  margin-bottom: -3.75rem;
  border-radius: 50%;
}

.carousel-multi-item .col-md-4 {
  float: left;
  width: 25%;
  max-width: 100%;
}

.carousel-multi-item .controls-top {
  text-align: center;
  margin-bottom: 1.88rem;
}

.carousel-multi-item {
  margin-bottom: 8rem;
}

.card {
  padding-bottom: 5px;
  height: 450px;
  overflow: hidden;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 15px !important;
}

.card-img-top {
  height: 35%;
  object-fit: contain;
}

.card-body {
  flex: none;
  height: 21%;
}

.card-body h5 {
  font-size: 1rem;
}

.card-title {
  font-size: 0.9rem !important;
}

.card-text {
  font-size: 0.9rem !important;
  height: 35%;
}

.carousel {
  position: relative;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 100%;
  transform: rotate(10deg);
  position: absolute;
  right: 0%;
  top: 15%;
  border-radius: 30px;
  opacity: 0.9;
}

.search-outer {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

#updated {
  text-align: end;
}

.map-info {
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.5);
  background-color: white;
}

#map {
  width: 100%;
  height: 600px;
}

@supports (-ms-ime-align: auto) {
  .country-stats,
  #map-legend {
    justify-content: space-around !important;
  }
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5px;
}

#myProgress {
  flex: 1;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 8px;
}

.progress-text {
  margin-left: 15%;
  font-weight: 500;
  font-size: 0.8rem;
}

#progress-percent {
  margin-right: 15%;
  font-weight: 500;
  font-size: 0.8rem;
}

#myBar {
  width: 1%;
  height: 20px;
  background-color: #ff4c68;
}

#map-legend {
  background-color: white;
  position: absolute;
  left: 2%;
  bottom: 30px;
  min-width: 130px;
  width: 13%;
  height: 45%;
  border-radius: 10px;
  color: #000;
  font-weight: bold;
  font-size: 0.6rem;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 8px 0 8px;
  opacity: 0.8;
}

.legend-color-container {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

#legend-title {
  font-size: 0.7rem;
  font-weight: 900;
  text-align: left;
  padding-left: 3%;
  padding-top: 3%;
}

.color1,
.color2,
.color3,
.color4,
.color5,
.color6,
.color7 {
  width: 40px;
  height: 0.8rem;
}

.color1 {
  background-color: #f1c0c6;
}

.color2 {
  background-color: #d9acb2;
}

.color3 {
  background-color: #e58e9b;
}

.color4 {
  background-color: #ff4c68;
}

.color5 {
  background-color: #943f4c;
}

.color6 {
  background-color: #666666;
}

.color7 {
  background-color: #333333;
}

.country-stats {
  background-color: white;
  position: absolute;
  right: 2%;
  top: 100px;
  min-width: 120px;
  width: 15%;
  height: 45%;
  border-radius: 10px;
  color: #000;
  font-weight: 400;
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 8px 0 8px;
  opacity: 0.8;
}

#country {
  margin: 0;
  font-size: 0.9rem;
}

#start-message {
  font-size: 0.8rem;
}

#flag {
  display: flex;
  justify-content: center;
}

#flag img {
  width: 50%;
  box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.5);
}

.global-stats {
  width: 32.5%;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  color: #000;
  text-align: center;
  font-weight: 400;
  font-size: 2vmin;
  padding-bottom: 5px;
  margin: 20px 0px;
  box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.tabs-container {
  display: flex;
  justify-content: space-between;
}

.tab-selection {
  height: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s;
}

.tabs-container .cases:hover .tab-selection {
  background-color: #000;
}

.cases.active .tab-selection {
  background-color: #000;
}

.tabs-container .recovered:hover .tab-selection {
  background-color: rgb(255, 76, 104);
}

.recovered.active .tab-selection {
  background-color: rgb(255, 76, 104);
}

.tabs-container .deaths:hover .tab-selection {
  background-color: rgb(153, 153, 153);
}

.deaths.active .tab-selection {
  background-color: rgb(153, 153, 153);
}

.global-title {
  margin-top: 10px;
}

#back-global-span {
  cursor: pointer;
  text-decoration: underline;
  font-size: small;
}

.global-stats h3 {
  padding: 5px;
  flex-basis: 100%;
  flex-grow: 1;
  color: #ff4c68;
}

.global-stats-container {
  display: flex;
  width: 100%;
  position: relative;
}

.total-cases,
.total-deaths,
.total-recoveries {
  flex: 1;
  margin-top: 15px;
}

#total-cases,
#total-deaths,
#total-recoveries {
  font-size: 1rem;
}

#myChart {
  height: 450px !important;
}

.data-info,
.graph-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 581px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.marker-number {
  font-weight: 400;
  font-size: smaller;
}

#news {
  position: relative;
}

.warning-title {
  font-size: 1.5rem;
  color: #fff;
}

.warning-box {
  padding: 4.5%;
}

.warning-box .icon {
  color: #fff;
  margin-bottom: 1rem;
  transition: all 0.4s;
}

#contact .container-fluid a {
  color: #fff;
}

.country-data-table,
.chart-container {
  width: 100%;
  overflow: hidden;
}

.graph-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tableCountry {
  cursor: pointer;
}

.country-data-table thead th {
  position: sticky;
  top: 0;
}

tbody {
  color: black;
}

table.dataTable.no-footer {
  border-bottom: none;
}

th {
  background: #777;
  color: white;
  overflow: hidden;
}

#table_length select {
  cursor: pointer;
}

#table_wrapper {
  font-size: 0.9rem;
  line-height: 1;
}

#table_filter input {
  cursor: text;
  outline: none;
}

#table_filter,
#table_length {
  font-size: 0.9rem;
}

tbody tr td:first-child {
  cursor: pointer;
}

table.dataTable {
  border-collapse: none;
}

table.dataTable th {
  border-bottom: 1px solid #777 !important;
}

table.dataTable,
table.dataTable th,
table.dataTable td {
  box-sizing: border-box;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
  background-color: #f4f4f4;
}

table.dataTable.display tbody tr.odd > .sorting_1,
table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #f4f4f4;
}

table.dataTable.stripe tbody tr.even,
table.dataTable.display tbody tr.even {
  background-color: #c9c9c9;
}

table.dataTable.display tbody tr.even > .sorting_1,
table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background-color: #c9c9c9;
}

.get-global-chart {
  text-decoration: underline;
  cursor: pointer;
}

#graph-title {
  color: #000;
  font-size: 1.5rem;
}

#chart-type {
  text-align: left;
  margin-bottom: 5px;
}

.table-title {
  color: #000;
  text-align: left;
  font-size: 1.5rem;
}

.chart-container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.my-custom-scrollbar {
  position: relative;
  overflow: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.my-custom-scrollbar::-webkit-scrollbar {
  width: 0 !important;
}

#copy {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
}

.social-icon {
  margin: 20px 10px;
  font-size: 1.6rem;
}

@media (min-width: 1921px) {
  .container-fluid {
    padding: 4% 22%;
  }

  .title-image {
    width: 35vw;
  }

  .card {
    height: 450px;
  }

  .nav-link {
    font-size: 1.3rem;
  }
}

@media (min-width: 2220px) {
  .title-image {
    width: 30vw;
  }
}

@media (min-width: 2492px) {
  .title-image {
    width: 25vw;
  }
}

@media (max-width: 1688px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  .big-heading {
    font-size: 2.4rem;
  }

  .card {
    height: 500px;
  }
}

@media (max-width: 1500px) {
  #graph-title,
  .table-title,
  #table-par,
  #tableCountry,
  #chart-type {
    font-size: 1rem;
  }

  .data-info,
  .graph-info {
    height: 610px;
  }

  .nav-link {
    font-size: 0.8rem;
  }

  .navbar-brand {
    font-size: 2.1rem;
  }
}

@media (max-width: 1241px) {
  .nav-link {
    font-size: 0.7rem;
  }

  .carousel-multi-item .col-md-4 {
    width: 50%;
  }

  .card {
    height: 360px;
  }
}

@media (max-width: 1072px) {
  .navbar-brand {
    font-size: 2rem;
  }

  #graph-title,
  .table-title {
    font-size: 1.2rem;
  }

  .global-title {
    font-size: 1rem;
  }
}

@media (max-width: 1028px) {
  #graph-title,
  .table-title {
    font-size: 1.2rem;
  }

  .title-image {
    width: 35vw;
  }

  .navbar-brand {
    font-size: 1.9rem;
  }

  .card {
    height: 390px;
  }

  #title {
    text-align: center;
  }

  .big-heading {
    font-size: 2.1rem;
  }

  .graph-info {
    margin-left: 0px;
  }
}

@media (max-width: 991px) {
  .nav-link {
    font-size: 1.1rem;
  }

  .title-image {
    width: 100%;
  }
}

@media (max-width: 829px) {
  .tabs-container {
    display: flex;
    flex-direction: column;
  }

  .global-stats {
    width: 100%;
    margin: 5px 0px;
  }

  .search-outer {
    margin-top: 15px;
    flex-direction: column;
  }

  .col-md-6.search-container,
  .col-md-6#updated {
    max-width: 100%;
  }

  .progress-container {
    margin-top: 12px;
  }

  #updated {
    margin-top: 10px;
    font-size: 0.8rem;
  }
}

@media (max-width: 769px) {
  .container-fluid {
    padding: 7% 2%;
  }

  .card {
    height: 400px;
  }

  #copy {
    font-size: 0.7rem;
  }

  #graph-title,
  .table-title {
    font-size: 1.2rem;
  }

  .graph-info {
    margin-top: 25px;
  }
}

@media (max-width: 615px) {
  .navbar-brand {
    font-size: 1.4rem;
  }

  .card {
    height: 460px;
  }

  #graph-title,
  .table-title,
  #table-par,
  #tableCountry,
  #chart-type {
    font-size: 0.9rem;
  }
}

@media (max-width: 535px) {
  .card {
    height: 500px;
  }
}

@media (max-width: 470px) {
  .navbar-brand {
    font-size: 0.9rem;
  }

  .data-info {
    height: 628px;
  }

  .carousel-multi-item .col-md-4 {
    width: 100%;
  }

  .card {
    height: 330px;
  }
}

@media (max-width: 399px) {
  #graph-title,
  .table-title,
  #table-par,
  #tableCountry,
  #chart-type {
    font-size: 0.7rem;
  }

  .card {
    height: 360px;
  }
}

@media (max-width: 320px) {
  .navbar-brand {
    font-size: 0.6rem;
  }

  #table_wrapper {
    font-size: 0.8rem;
  }

  .data-info {
    height: 580px;
  }
}

@media (max-width: 300px) {
  .card {
    height: 410px;
  }
}
